.contact {
  text-align: center;
}
.contact h3 {
  text-transform: uppercase;

  margin: 15px 0;
}
.contact textarea {
  width: 400px;
  height: 200px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1px;
}
.contact button {
  display: block;
  padding: 10px 20px;
  margin: 10px auto 20px;
}
