ul {
  list-style: none;
  margin: 0;
  padding: 0px;
}

a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.4s;
  padding-left: 15px;
}
nav.main a:hover {
  padding-left: 25px;
}

nav.main li:nth-child(1) .active {
  padding-left: 5px;
  border-left: 10px solid green;
}
nav.main li:nth-child(2) .active {
  padding-left: 5px;
  border-left: 10px solid red;
}
nav.main li:nth-child(3) .active {
  padding-left: 5px;
  border-left: 10px solid blue;
}
nav.main li:nth-child(4) .active {
  padding-left: 5px;
  border-left: 10px solid orange;
}
